<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
    </head>
    <body>
        <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="UTF-8" />
                <meta
                    name="viewport"
                    content="width=device-width, initial-scale=1.0"
                />
                <title>My Blog</title>
                <link rel="stylesheet" href="{% static 'blog/style.css' %}" />
            </head>
            <body>
                <header>
                    <h1>Welcome to My Blog</h1>
                </header>

                <div class="container">
                    {% for blog in all_blogs %}
                    <div class="blog-post">
                        <h2>
                            <a href="{% url 'blog:article' blog.id %}">
                                {{ blog.article_title }}
                            </a>
                        </h2>
                        <p class="post-date">
                            Published on: {{ blog.pub_date }}
                        </p>
                    </div>
                    {% endfor %}
                    <div class="pagination">
                        <span class="step-links">
                            {% if all_blogs.has_previous %}
                            <a href="?page=1">&laquo first</a>
                            <a href="?page={{ all_blogs.previous_page_number }}"
                                >previous</a
                            >
                            {% endif %}
                            <span class="current">
                                <span> Page {{ all_blogs.number }} </span>
                                of {{ all_blogs.paginator.num_pages }}
                            </span>
                            {% if all_blogs.has_next %}
                            <a href="?page={{ all_blogs.next_page_number }}"
                                >next</a
                            >
                            <a href="?page={{ all_blogs.paginator.num_pages }}"
                                >last &raquo;</a
                            >
                            {% endif %}
                        </span>
                    </div>
                </div>

                <footer>
                    <p>&copy; 2024 My Blog. All rights reserved.</p>
                </footer>
            </body>
        </html>
    </body>
</html>
